
.styledScroll {
    
}

.styledScroll *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F0F0F0;
}

.styledScroll *::-webkit-scrollbar-track {
    background-color: #F0F0F0;
}

.styledScroll *::-webkit-scrollbar-thumb {
    background-color: #D0D0D0;
    border-radius: 4px;
}

.styledScroll *::-webkit-scrollbar-thumb:hover {
    background-color: #B0B0B0;
}

.styledScroll *::-webkit-scrollbar-thumb:active {
    background-color: #A0A0A0;
}