
.removed {
    background: #ffeef0 !important;
}

.content {
    padding: 0 1.5em;
    white-space: pre-wrap;
    position: relative;
}

.content.removed::before, .content.added::before {
    position: absolute;
    left: 0.5em;
    color: #9bb0a1;
}

.added {
    background: #e6ffed !important;
}

.content.removed::before {
    content: '-';
}

.content.added::before {
    content: '+';
}

.removedWord {
    background: #fdb8c0 !important;
}

.addedWord {
    background: #acf2bd !important;
}

.linenoBox {
    min-width: 55px;
    width: 1%;
    padding: 0 10px 0 5px;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: right;
    border-color: #f0f0f0;
    background-color: #fafafa;
    color: rgb(185, 185, 185);
}

.expButton {
    background-color: #CFE6FD;
    color: #CFE6FD;
    cursor: pointer;
    text-align: center;
}

.expButton > svg {
    height: 16px;
    vertical-align: middle;
}

.expButton:hover {
    background-color: #0087FF;
}

.expTextBox {
    background-color: #EFF7FF;
}

.highlighter {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

/*
https://stackoverflow.com/questions/52085162/flexbox-full-width-table
https://stackoverflow.com/questions/25048236/css-displayblock-vs-displaytable
TODO: maybe remove table wrapper if we using 'display: block' anyway (for scrolling)
*/
.diffTable {
    border-spacing: 0;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    position: absolute;
    inset: 0;
    display: block;
}

.diffTable > tbody {
    display: table;
}

.diffTable > tbody > tr > td {
    font-size: 14px;
    height: 21px;
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}


.hideScrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* hides only vertical scrollbar*/
.hideScrollbar::-webkit-scrollbar {
    /*display: none;*/
    width: 0;
}


.stickyCol {
    /* Stick to the left */
    left: 0;
    position: sticky;
    /* Displayed on top of other rows when scrolling */
    z-index: 1;
}

.tableBox {
    padding-bottom: 6px;
    flex: 1 1 0;
    overflow: auto;
    position: relative;
    margin: 1px;
}

.diffWindow {
    flex: 1;
    display: flex;
}

.diffWindow * {
    box-sizing: border-box;
}

.tableSep {
    flex: none;
    border-left: thin solid #dbdbdb;
}

:global(.token.operator) {
    background: none !important;
}