
.removed {
    background-color: #ffeef0 !important;
}

.content {
    padding: 0 1.5em;
    position: relative;
}

.content.removed::before, .content.added::before {
    position: absolute;
    left: 0.6em;
    color: #9bb0a1;
}

.added {
    background-color: #e6ffed !important;
}

.content.removed::before {
    content: '-';
}

.content.added::before {
    content: '+';
}

.removedWord {
    background-color: #fdb8c0 !important;
}

.addedWord {
    background-color: #acf2bd !important;
}

.linenoBox {
    min-width: 55px;
    width: 1%;
    padding: 0 10px 0 5px;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: right;
    border-color: #f0f0f0;
    background-color: #fafafa;
    color: rgb(185, 185, 185);
}

.expander > td {
    line-height: 0.9 !important;
}

.expButton {
    background-color: #CDECFF;
    color: #444444;
    cursor: pointer;
    text-align: center;
}

.expButton > svg {
    height: 17px;
}

.expButton:hover {
    background-color: #4b8af5;
}

.expTextBox {
    background-color: #F0F8FF;
}

.highlighter {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

.diffTable {
    border-spacing: 0;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    position: absolute;
    inset: 0;
}

.stickyCol {
    /* Stick to the left */
    left: 0;
    position: sticky;
    /* Displayed on top of other rows when scrolling */
    z-index: 1;
}

.diffTable > tbody > tr > td {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.tableBox {
    padding-bottom: 6px;
    flex: 1 1 0;
    overflow: auto;
    position: relative;
}

.tablesContainer {
    flex: 1;
    display: flex;
    gap: 2px;
}

.diffHeader {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    border-bottom: 1px solid #dbdbdb;
    margin: 0;
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
    color: rgb(30, 30, 30);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.diffInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.accepted {
    fill: #00b000;
}

.refused {
    fill: #e70000;
}

.ignored {
    fill: #ff9c00;
}

.unknown {
    fill: lightgray;
}

.diffStats {
    display: flex;
    gap: 8px;
}

.diffStats > .deletion {
    color: #dd2b0e;
}

.diffStats > .addition {
    color: #217645;
}

.diffViewer {
    display: flex;
    flex-direction: column;
    /* if in flex-container, take whole space */
    flex: 1;
}

.diffViewer * {
    box-sizing: border-box;
}

.diffBody {
    flex: 1;
    display: flex;
}

:global(.token.operator) {
    background: none;
}