
.removed {
    background-color: #ffeef0 !important;
}

.content {
    padding: 0 1.5em;
    position: relative;
}

.content.removed::before, .content.added::before {
    position: absolute;
    left: 0.6em;
    color: #9bb0a1;
}

.added {
    background-color: #e6ffed !important;
}

.content.removed::before {
    content: '-';
}

.content.added::before {
    content: '+';
}

.removedWord {
    background-color: #fdb8c0 !important;
}

.addedWord {
    background-color: #acf2bd !important;
}

.linenoBox {
    min-width: 55px;
    width: 1%;
    padding: 0 10px 0 5px;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: right;
    border-color: #f0f0f0;
    background-color: #fafafa;
    color: rgba(0,0,0,0.3);
}

.expander > td {
    line-height: normal !important;
}

.expButton {
    background-color: #BBB4B480;
    color: #444444;
    cursor: pointer;
    text-align: center;
}

.expButton > svg {
    height: 18px;
}

.expButton:hover {
    background-color: #bbb4b4;
}

.expTextBox {
    background-color: #F0F0F0;
}

.diffTable {
    border-spacing: 0;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
}

.diffTable > tbody > tr > td {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.diffTable * {
    box-sizing: border-box;
}

.tableBox {
    overflow-x: auto;
}

:global(.token.operator) {
    background: none;
}