
.removed {
    background-color: #ffeef0 !important;
}

.content {
    padding: 0 1.5em;
    position: relative;
}

.content.removed::before, .content.added::before {
    position: absolute;
    left: 0.6em;
    color: #9bb0a1;
}

.added {
    background-color: #e6ffed !important;
}

.content.removed::before {
    content: '-';
}

.content.added::before {
    content: '+';
}

.removedWord {
    background-color: #fdb8c0 !important;
}

.addedWord {
    background-color: #acf2bd !important;
}

.linenoBox {
    min-width: 55px;
    width: 1%;
    padding: 0 10px 0 5px;
    border-right-width: 1px;
    border-right-style: solid;
    text-align: right;
    border-color: #f0f0f0;
    background-color: #fafafa;
    color: rgba(0,0,0,0.3);
}

.expander > td {
    line-height: 0.9 !important;
}

.expButton {
    background-color: rgba(186, 223, 255, 0.75);
    color: #444444;
    cursor: pointer;
    text-align: center;
}

.expButton > svg {
    height: 17px;
}

.expButton:hover {
    background-color: rgba(0, 111, 255, 0.8);
}

.expTextBox {
    background-color: rgba(221, 244, 255, 0.5);
}

.diffTable {
    border-spacing: 0;
    border: 0;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
}

.diffTable > tbody > tr > td {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.highlighter {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

.tableBox {
    overflow: auto;
    width: 50%;
    padding-bottom: 6px;
}

.tablesContainer {
    display: flex;
    max-height: 100%;
    width: 100%;
    gap: 2px;
    border: solid #ccc;
    border-width: 0 0 1px 1px;
    overflow: hidden;
}


.diffHeader {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px 16px;
    margin: 0;
    line-height: 1.2;
    font-size: 14px;
    color: rgba(58, 54, 54, 0.9);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.diffStats {
    display: flex;
    gap: 8px;
}

.diffStats > .deletion {
    color: #dd2b0e;
}

.diffStats > .addition {
    color: #217645;
}

.diffViewer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.diffViewer * {
    box-sizing: border-box;
}

.stickyCol {
    /* Stick to the left */
    left: 0;
    position: sticky;
    /* Displayed on top of other rows when scrolling */
    z-index: 1;
}

:global(.token.operator) {
    background: none;
}